{% extends "bootstrap/base.html" %}
{% block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block styles %}
    {{super()}}
    {% block mystyles %}{% endblock %}
{% endblock %}
{% if title %}
    {% block title %}{{title}}{% endblock %}
{% endif %}
{% block content %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Index</a>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Receiver <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a id="audio_tuner">Radio</a></li>
                            <li><a id="audio_tv">Tv</a></li>
                            <li><a id="audio_aux">Auxilliaire</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </div>
    <div class="container"/>
        {% block app %}{% endblock %}
    </div>
    <!--<div class="row text-center">
        <div class="col-md-12">
            <span>This is a footer</span>
        </div>
    </div>-->
{% endblock %}
{% block scripts %}
    {{super()}}
    {% block myscripts %}{% endblock %}
    <script>
    //@ sourceURL=base.js
    $(document).ready(function () {
        var linkid = $("a[id^='audio_']")
        linkid.click(function () {
            var link = $(this);
            var formData = { input: link.context.id.replace("audio_", "") };
            $.ajax({
                url: "/receiver/av_input/",
                method: 'post',
                data: formData,
                success: function (data) {
                }
            })
        });
    });
</script>

{% endblock %}