{% extends "bootstrap/base.html" %}
{% block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block styles %}
    {{super()}}
    {% block mystyles %}{% endblock %}
{% endblock %}
{% if title %}
    {% block title %}{{title}}{% endblock %}
{% endif %}
{% block content %}
    <div class="navbar navbar-fixed-top">HomeAutomation: <a href="/">Home</a></div>
    <div class="container"/>
        {% block app %}{% endblock %}
    </div>
    <!--<div class="row text-center">
        <div class="col-md-12">
            <span>This is a footer</span>
        </div>
    </div>-->
{% endblock %}
{% block scripts %}
    {{super()}}
    {% block myscripts %}{% endblock %}
{% endblock %}