{% import "macros.html" as tools %}
{% extends "base.html" %}
{% block app %}
    <h1 class="text-center">Welcome in your Home Automation !</h1>
    <div class='row text-center'>
        {% if devices.tv.power_status == 'on' %}
            {{ tools.device_power_prop("Tv.png", "green", "tv")}}
        {% elif devices.tv.power_status == 'standby' %}
            {{ tools.device_power_prop("Tv.png", "red", "tv")}}
        {% endif %}
        {% if devices.receiver.power_status == 'on' %}
            {{ tools.device_power_prop("Receiver.png", "green", "receiver")}}
        {% elif devices.receiver.power_status == 'standby' %}
            {{ tools.device_power_prop("Receiver.png", "red", "receiver")}}
        {% endif %}
    </div>
{% endblock %}
{% block myscripts %}
    {{ tools.device_power_script('tv', 'on', 'success')}}
    {{ tools.device_power_script('tv', 'standby', 'danger')}}
    {{ tools.device_power_script('receiver', 'on', 'success')}}
    {{ tools.device_power_script('receiver', 'standby', 'danger')}}
    <!--<script>
        $(document).ready(function () {
            var powerlighttv = $('#power-light-tv')
            $.ajax({
            url: "{{url_for('tv.get_power')}}",
            method: 'get',
            success: function (data) {
                if (data == 'on') {
                    powerlighttv.attr('src', "{{ url_for('static', filename='images/green.png') }}");
                }
                else if (data == 'standby') {
                    powerlighttv.attr('src', "{{ url_for('static', filename='images/red.png') }}");
                }
            }
        });
    });
    </script>--> 
{% endblock %}