{% import "macros.html" as tools %}
{% extends "base.html" %}
{% block app %}
    <h1 class="text-center">Welcome in your Home Automation !</h1>
    <div class='row text-center'>
        {{ tools.device_power_prop("Tv.png", devices.tv.power_status, "tv")}}
        {{ tools.device_power_prop("Receiver.png", devices.receiver.power_status, "receiver")}}
    </div>
{% endblock %}
{% block myscripts %}
    {{ tools.device_power_script('tv', 'on', 'success')}}
    {{ tools.device_power_script('tv', 'standby', 'danger')}}
    {{ tools.device_power_script('receiver', 'on', 'success')}}
    {{ tools.device_power_script('receiver', 'standby', 'danger')}}
    <script>
        $(document).ready(function () {
            var powerlight = $('#power-light-tv')
            $.ajax({
            url: "{{url_for('tv.get_power')}}",
            method: 'get',
            success: function (data) {
                if (data == 'on') {
                    powerlight.attr('src', "{{ url_for('static', filename='images/green.png') }}");
                }
                else if (data == 'standby') {
                    powerlight.attr('src', "{{ url_for('static', filename='images/red.png') }}");
                }
            }
        });
    });
    </script> 
{% endblock %}