{% macro device_power_prop(img_filename, color, device) %}
<div class='col-md-6'>
    <img src="{{ url_for('static', filename='images/' + img_filename) }}" class='img-rounded' />
    <div class='text-center'>
        <div class='row'>
            <div class='col-md-6'>
                <h4>Power Status:</h4>
                <img id="power-light-{{device}}" src="{{ url_for('static', filename='images/'+ color + '.png') }}" class='img-circled' />
            </div>
            <div class='col-md-6'>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary" id="toggle-power-btn-on-{{ device }}" data-loading-text="Processing...">
                        <input type="radio"> On
                    </label>
                    <label class="btn btn-primary" id="toggle-power-btn-standby-{{ device }}" data-loading-text="Processing...">
                        <input type="radio"> Off
                    </label>
                    <!--<button type="button" id="toggle-power-btn-{{ device }}" data-loading-text="Processing..." class="btn btn-primary">{{ property }}</button>-->
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro device_power_script(device, status, cssclass) %}
<script>
    $(document).ready(function () {
        var buttonid = $('#toggle-power-btn-{{status}}-{{device}}')
        var powerlight = $('#power-light-{{device}}')
        buttonid.click(function () {
            var btn = $(this)
            btn.button('loading')
            $.ajax({
                url: "{{url_for(device + '.power', power_data=status)}}",
                method: 'get',
                success: function (data) {
                    if (data == '{{status}}') {
                        buttonid.addClass('disabled');
                    }
                    if (data == 'on') {
                        powerlight.attr('src', "{{ url_for('static', filename='images/green.png') }}");
                    }
                    else if (data == 'standby') {
                        powerlight.attr('src', "{{ url_for('static', filename='images/red.png') }}");
                    }
                }
            }).always(function () {
                btn.button('reset')
            });
        });
    });
</script>
{% endmacro %}