{% extends "base.html" %}
{% block app %}
<h1>SMS Form Data</h1>
<form method="POST">
Date: <input type="text" name="rdate" value="02-27-2014"><br>
Time: <input type="text" name="rtime" value="19.05"><br>
Receiver's Number: <input type="text" name="rnumber" value="0612345678"><br>
Receiver's Name: <input type="text" name="rname" value="Receiver"><br>
Sender's Number <input type="text" name="snumber" value="0612345678"><br>
Sender's Name: <input type="text" name="sname" value="Sender"><br>
Message Body: <input type="text" name="mbody" value="Test Message !"><br><br>
<input type="submit" value="Submit">
</form>
{% endblock %}