{% extends "base.html" %}
{% block content %}
<h1>SMS Form Data</h1>
<form method="POST">
Date: <input type="text" name="rdate" value="27-02-2014"><br>
Time: <input type="text" name="rtime" value="19.05"><br>
Receiver's Number: <input type="text" name="rnumber" value="0674767730"><br>
Receiver's Name: <input type="text" name="rname" value="Romain"><br>
Sender's Number <input type="text" name="snumber" value="0617382221"><br>
Sender's Name: <input type="text" name="sname" value="Lolo"><br>
Message Body: <input type="text" name="mbody" value="Test Message !"><br><br>
<input type="submit" value="Submit">
</form>
{% endblock %}